@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: cook;
  src: url("./assets/font/cookconthic.otf");
}
body {
  font-family: "Plus Jakarta Sans", serif;
}
h2 {
  font-family: cook;
}
.img_1 {
  transform: perspective(1000px) rotateX(0deg) rotateY(-20deg) skewX(0deg)
    skewY(-5deg) scaleX(0.9) scaleY(1.05);
  object-fit: cover;
}
.img_2 {
  transform: skewY(-10deg) rotateY(40deg) rotateX(-3deg);
  object-fit: cover;
}
.img_3 {
  transform: skewY(5deg) rotateY(40deg) rotateX(30deg) scaleX(1.1) skewX(-10deg);
  object-fit: cover;
}
